@import '_colors.scss';

@font-face {
  font-family: 'Roboto';
  src: url('../../../public/font/Roboto-Regular.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
}

.error {
  color: $error-color;
}